@using Microsoft.AspNetCore.Identity
@model WineForum.Models.ApplicationUser.ProfileModel

@inject UserManager<WineForum.Data.Models.ApplicationUser> UserManager

@{
//var user = UserManager.FindByNameAsync(User.Identity.Name);
//var isAdmin = user.Result.IsAdmin;
}


<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Профил
        </div>
    
        <div class="row userProfile">
            <div class="col-md-4">
                <div id="userProfileImage" style="background-image: url(@Model.ProfileImageUrl)"></div>
                @if (User.Identity.Name == Model.UserName)
                {
                    <form method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="UploadProfileImage">
                        <label></label>
                        <div id="upload">
                            <label class="btn btn-default btn-file">
                                Добави изображение<input type="file" name="file" style="display:none" />
                            </label>
                        </div>
                        <label></label>
                        <div id="submit">

                            <button type="submit" id="btn-profile" class="btn btn-default">Прикачи</button>

                        </div>
                    </form>
                }
            </div>
            <div class="col-md-8">
                <span id="userName">Потребителско име: @Model.UserName</span>
                @if (@Model.IsAdmin)
                {
                    <span class="isAdmin">Admin</span>
                }
                <span id="userRating">Рейтинг: @Model.UserRating</span>
                <span id="userEmailLabel">Имейл: @Model.Email</span>
                <span id="userCreatedLabel">Създаден на: @Model.MemberSince</span>

            </div>
           </div>
    </div>
</div>