@model WineForum.Models.ApplicationUser.ProfileListModel
<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">Потребители</div>
    </div>
    <div class="row" id="forumIndexContent">
        <table class="table table-hover" id="userIndexTable">
            <thead>
                <tr>
                    <th>Изображение</th>
                    <th>Потребител</th>
                    <th>Имейл</th>
                    <th>Регистриран на</th>
                    <th>Рейтинг</th>
                    
                </tr>
            <thead>
            <tbody>
                @foreach (var profile in Model.Profiles)
                {
                <tr class="userRow">
                    <td>
                        <div class="userProfilePic" style="background-image: url(@profile.ProfileImageUrl)"></div>
                    </td>
                    <td>
                        <a asp-controller="Profile" asp-action="Detail" asp-route-id="@profile.Id">
                            @profile.UserName
                        </a>
                    </td>
                    <td>
                        @profile.Email
                    </td>
                    <td>
                        @profile.MemberSince
                    </td>
                    <td>
                        @profile.UserRating
                    </td>
                    

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
