@model WineForum.Models.Forum.ForumIndexModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">Форуми</div>
        <div class="sectionDescription">
            <h3>Добре дошли в<strong> WineForum</strong>.</h3>
            <p>
                @if (!Context.User.Identity.IsAuthenticated)
                {
                    <span>Трябва да сте <a asp-controller="Identity" asp-action="/Account/Register">Регистриран потребител</a> за да добавите нова публикация.</span>
                    <span>Имате акаунт? <a asp-controller="Identity" asp-action="/Account/Login">Вход</a></span>
                }
            </p>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        <table class="table table-hover" id="forumIndexTable">
            <tbody>
                @foreach (var forum in Model.ForumList)
                {
                    <tr>
                        <td>
                            <div class="forumLogo" style="background-image: url(@forum.ImageUrl)"></div>
                            <div class="forumData">
                                <div class="forumTitle">
                                    <a asp-controller="Forum" asp-action="Topic" asp-route-id="@forum.Id">@forum.Name</a>
                                </div>
                                
                            </div>
                        </td>
                        <td>
                            <div class="forumPostCount">
                                Публикации: @forum.NumberOfPosts
                            </div>
                            <div class="forumMemberCount">
                                Потребители: @forum.NumberOfUsers
                            </div>
                        </td>
                        <td>
                            <div class="forumDescription">
                               @forum.Description
                            </div>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>