@model WineForum.Models.Forum.ForumTopicModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <span id="results">@Model.Forum.Name Форум</span>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <span id="headingBtn"><a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id" class="btn btn-newPost">Създай публикация</a></span>
            }
            <br />
            <form asp-controller="Forum" asp-action="Search" method="post">
                <div class="searchForm">
                    <input asp-for="SearchQuery" type="text" placeholder="Търси ..." class="searchBar" onfocus="clearThis(this)">
                    <button type="submit" class="btn buttonSearch">
                        <i class="material-icons">search</i>
                    </button>
                </div>
                <input asp-for="Forum.Id" name="id" type="hidden" />
            </form>
        </div>
        <div class="sectionDescription">
            
            <p>

                @if (!Context.User.Identity.IsAuthenticated)
                {
                    <span>Трябва да сте <a asp-controller="Identity" asp-action="/Account/Register">Регистриран потребител</a> за да добавите нова публикация.</span>
                    <span>Имате акаунт? <a asp-controller="Identity" asp-action="/Account/Login">Вход</a></span>
                }
            </p>
        </div>
    </div>
    <div class="row" id="forumIndexContent">
        @if (Model.Posts.Any())
        {
            <table class="table table-hover table-bordered" id="forumIndexTable">
                <tbody>
                    @foreach (var post in Model.Posts)
                    {
                        <tr>
                            <td>
                                <div class="forumLogo" style="background-image: url(@Model.Forum.ImageUrl); background-size:100%"></div>
                                <div class="postData">
                                    <div class="postTitle">
                                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">@post.Title</a>
                                    </div>
                                    <div class="forumSubTitle">
                                        <div>
                                            <span class="postAuthor">
                                                Автор:
                                                <a asp-controller="Profile" asp-action="Detail" asp-route-id="@post.AuthorId">
                                                    @post.AuthorName
                                                </a>
                                            </span>
                                            (@post.AuthorRating)
                                            <span class="postDate">
                                                @post.DatePosted
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="forumPostCount">
                                    Отговори: @post.RepliesCount
                                </div>
                            </td>
                            <td>
                                <div class="postDate">@post.DatePosted</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="noPosts">
                <i class="material-icons md-72">question_answer</i>
                <h3>
                    Изглежда няма добавени публикации <br />
                    Защо не <a asp-controller="Post" asp-action="Create" asp-route-id="@Model.Forum.Id"><span>създадеш ти</span></a>?
                </h3>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function clearThis(target) {
            target.value = "";
        }
    </script>
}