@model WineForum.Models.Reply.PostReplyModel
<div class="row sectionHeader">
    <div class="sectionHeadingReply">
        Отговор | @Model.PostTitle
        <span id="headingBtn">
            <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.PostId"
               class="btn btn-back">Назад към публикацията</a>
        </span>
    </div>
    </div>
<div class="container body-content">
    <div class="forumLogo" style="background-image:url(@Model.ForumImageUrl)"></div>
    <label>
        @Model.PostTitle
    </label>
    <p>
        @Model.PostContent
    </p>
    <div class="row">
        <div id="postReply">
            <form asp-action="AddReply" method="post" id="addPostForm">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">

                    <textarea asp-for="ReplyContent" rows="12"
                          class="form-control"required placeholder="Отговор..." oninvalid="this.setCustomValidity('Въведете отговор')"
    oninput="this.setCustomValidity('')" ></textarea>
                    <span asp-validation-for="ReplyContent" class="text-danger"></span>
                </div>
                <button type="submit" id="submitReplyBtn" class="btn btn-submitPost">Отговор</button>
                <input asp-for="AuthorId" type="hidden" />
                <input asp-for="PostId" type="hidden" />
                <input asp-for="ForumId" type="hidden" />
            </form>
        </div>
    </div>

</div>