@model WineForum.Models.Home.HomeIndexModel

<div class=" container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">Добре дошли в "WineForum"</div>
            <p class="frontpageSubHeading"></p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Търси ..." onfocus="clearThis(this)" />
                   
                </form>
                
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestPosts">Последни публикации:</h3>
        <table class="table table-hover" id="latestPostsTable">
            @foreach (var post in Model.LatestPosts)
            {
                <tr>
                    <td>
                        <div class="forumLogo" style="background-image: url(@post.Forum.ImageUrl);"></div>
                        <div class="postTitle">
                            <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                                @post.Title
                            </a>
                        </div>
                        <div class="postSubTitle">
                            <span class="postUser">
                                Създадена на:
                            </span> <span class="postForum"><a asp-controller="Forum" asp-action="Topic" asp-route-id="@post.ForumId"></a>@post.ForumName</span> <span class="postDate">@post.DatePosted</span>

                            @if (post.RepliesCount == 1)
                            {
                                <span>| @post.RepliesCount Отговор</span>
                            }
                            else if (post.RepliesCount == 0)
                            {
                                <span>| Няма отговор</span>
                            }
                            else
                            {
                                <span>| @post.RepliesCount Отговора</span>
                            }

                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>